body {
  background-color: #eb7d5b ;
}

.header {
  background-color: #442288;
}

.timer {
background-color: #6Ca2ea;
}

.tracker {
  background-color: #b5d33d;
}

.footer {
  background-color:  #fed23f;
}