$primary-color: #ff4df0;
$secondary-color: #70ffdf;
$tertiary-color: #045ded;

$primary-font: "Oswald", sans-serif;
$secondary-font: "Open Sans", sans-serif;

body {
  background-color: black;
  font-family: $primary-font;
  width: 70vw;
  margin: auto;
}

.primary-color {
  color: $primary-color;
  text-shadow: -1px 0 $primary-color, 0 1px $primary-color, 1px 0 $primary-color, 0 -1px $primary-color;
  color: $primary-color;
  hr {
    background: $primary-color;
  }
  button {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
  button.active {
    background-color: $primary-color;
  }
  button:hover {
    background-color: $primary-color;
  }
}

.secondary-color {
  color: $secondary-color;
  text-shadow: -1px 0 $secondary-color, 0 1px $secondary-color, 1px 0 $secondary-color,
    0 -1px $secondary-color;
  color: $secondary-color;

  hr {
    background: $secondary-color;
  }
  button {
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
  button.active {
    background-color: $secondary-color;
  }
  button:hover {
    background-color: $secondary-color;
  }
}

.tertiary-color {
  color: $tertiary-color;
  text-shadow: -1px 0 $tertiary-color, 0 1px $tertiary-color, 1px 0 $tertiary-color, 0 -1px $tertiary-color;
  color: $tertiary-color;
  hr {
    background: $tertiary-color;
  }
  button {
    border: 1px solid $tertiary-color;
    color: $tertiary-color;
  }
  button.active {
    background-color: $tertiary-color;
  }
  button:hover {
    background-color: $tertiary-color;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: transparent;
}

a:link {
  color:black
}

h1 {
  color: black;
}

hr {
  width: 50vw;
  border: 0;
  height: 1px;
}

p {
  text-shadow: none;
}

button {
  font-family: $secondary-font;
  background-color: black;
  transition-duration: 0.4s;
  border-radius: 5px;
  padding: 5px;
}

button.active {
  color: black;
  border-radius: 5px;
}

button:hover {
  background-color: $primary-color;
  color: black;
  border-radius: 5px;
}


