body {
  background-color: #eb7d5b;
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

}

.header {
  background-color: #442288;
  height: 64px;
}

.timer {
  background-color: #6Ca2ea;
  flex-basis: 45vh;
}

.tracker {
  background-color: #b5d33d;
  flex-basis: 45vh;
}

.footer {
  background-color: #fed23f;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}