body {
  background-color: black;
  color: #F890E7;
}

a {
  color: #F890E7;
  text-decoration: none;
  font-family: 'Chicle', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.timer {
  background-color: #6Ca2ea;

}

.tracker {
  background-color: #b5d33d;
  flex-basis: 45vh;
}

.footer {
  background-color: #fed23f;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}